#page-create-orphanage {
    display: flex;
    min-height: 100vh;
}

main {
    flex: 1;
}

.map-container {
    margin: 0 0 4rem
}

.map-container  .leaflet-container {
    border-radius: 20px 20px 0 0;
}

.map-container footer {
    background: #f5f8fa;
    border-radius: 0 0 20px 20px;
}

.input-block input,
.input-block textarea {
    width: 100%;

    background: #f5f8fa;
    border: 1px solid #d3e2e5;
    border-radius: 2rem;

    color: #5c8599;
    /*outline: none;  tira a borda preta quando seleciona */
} 

.input-block input {
    height: 6.4rem;
    padding: 0 1.6rem;
}

.input-block textarea {
    height: clamp(12rem, 16rem, 24rem);
    resize: vertical;
    padding: 0 1.6rem;
    line-height: 2.8rem;
}

.input-block.images button {
    border: 1px dashed #96d2f0;
    width: 100%;
    background: #f5f8fa;
    height: 6.4rem;
    padding: 0 1.6rem;
    margin-top: 2.4rem;
    border-radius: 2rem;

    cursor: pointer;
}